#content{float:left;width:100%;position:relative;padding-top:76px;background-color:#fff;border-radius:6px;margin-bottom:19px;padding-bottom:20px;behavior:url(http://preblogs.com/lcshp/rs/bg/dpl/css/PIE/PIE.htc);-webkit-box-shadow:0 0 4px 3px #dbdbdb;-moz-box-shadow:0 0 4px 3px #dbdbdb;box-shadow:0 0 4px 3px #dbdbdb;}
#content p{text-indent:0px;}

input, select {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 47%;
    border: 2px solid grey;
    border-radius: 5px;
}

select {
    width: 50%;
}

.price123{
    display: flex;
    justify-content: center;
}